@import 'pure.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  color:#444;
}

body {
  background:#121311;
  background:rgb(23,21,22);
  background:rgb(23,23,23);
  font-family: sans-serif;
  color:#444;
  padding: 0;
  margin: 0;
}

.small-print {
  /*font-size:6px;
  margin-left:1rem;*/
}

.button-c {
  background: #2a2a2a;
  color: #555;
  border:1px solid #070707;
}



.block-grid-4 {
  display: block;
  margin: -15px;
  padding: 0 .9375rem;
  border:1px solid #00ff00;
}

.block-grid-4:before,
.block-grid-4:after {
  content: " ";
  display: table;
}

.block-grid-4:after {
  clear: both;
}

.block-grid-4 > * {
  display: inline;
  padding: 15px;
  height: auto;
  float: left;
  list-style: none;
}


.block-grid-md-4 > * {
  width: 25%;
}
.block-grid-md-4 > *:nth-of-type(n) {
  clear: none;
}
.block-grid-md-4 > *:nth-of-type(4n+1) {
  clear: both;
}



.albumThumbnail {
  width:48px;
  height:auto;
  margin:8px;
}